<div class="self-stretch h-[88px] p-3 bg-white flex-col justify-end items-center gap-2.5 flex">
    <div class="self-stretch p-3 bg-white rounded-[10px] justify-start items-center gap-3 inline-flex">
        <div class="w-10 h-10 relative rounded-[999px]">
            <div class="w-10 h-10 left-0 top-[-0px] absolute bg-[#c2d6ff] rounded-[544.44px]">
                <div class="w-[37.06px] h-[42.96px] left-[0.74px] top-[4.31px] absolute">
                    <img src="assets/logos/avater-logo.svg" />
                </div>
            </div>
        </div>
        <div class="w-[136px] flex-col justify-start items-start gap-1 inline-flex">
            <div class="self-stretch justify-start items-start gap-0.5 inline-flex">
                <div class="text-[#0a0d14] text-sm font-medium  leading-tight">Ali Mahmoud</div>
                <div class="w-5 h-5 relative">
                    <img src="assets/icons/sidebar/home-icon.svg" alt="home" />
                </div>
            </div>
            <div class="self-stretch text-[#525866] text-xs font-normal  leading-none">ali.m@kkesh.com</div>
        </div>
        <div class="p-0.5 rounded-md justify-center items-center gap-0.5 flex">
            <div class="w-5 h-5 relative">
                <img src="assets/icons/sidebar/home-icon.svg" alt="home" />
            </div>
        </div>
    </div>
</div>