<div class="h-[108px] p-4 bg-[#f6f8fa] rounded-xl flex-col justify-start items-start gap-3 flex">
    <div class="self-stretch justify-start items-center gap-2.5 inline-flex">
        <img src="assets/logos/customer-service-2-fill.svg" />
        <div class="grow shrink basis-0 text-[#0a0d14] text-base font-medium  leading-normal">Need support?</div>
    </div>
    <div class="self-stretch text-[#525866] text-sm font-normal  leading-tight">Contact with one of our experts to get support.</div>
</div>