<div class="self-stretch px-3 py-2 bg-white rounded-lg justify-start items-center gap-2 inline-flex">
    <div class="w-5 h-5 relative">
        <img src="assets/icons/sidebar/home-icon.svg" alt="home" />
    </div>
    <div class="grow shrink basis-0 h-5 justify-start items-center gap-1.5 flex">
        <div class="text-[#525866] text-sm font-medium  leading-tight">Home</div>
    </div>
</div>