<div class="w-[100%] p-3 bg-white justify-start items-center gap-3 inline-flex">
    <div class="grow shrink basis-0 h-[75px] p-3 bg-white rounded-[10px] justify-between items-center flex">
        <img class="w-[140px] h-[51px]" src="assets/images/kkesh-image.png" />
        <div class="p-0.5 origin-top-left bg-white rounded-md shadow border border-[#e2e4e9] justify-center items-center gap-0.5 flex">
            <img class="arrow-left w-5 h-5 relative" src="assets/logos/arrow-down-s-line.svg" />
        </div>
    </div>
    <div class="w-[232px] h-[0px] left-[20px] top-[99px] absolute border border-[#e2e4e9]"></div>
</div>