---

import SidebarItem from "./sidebar-item.astro";

---


<div class="self-stretch p-1 justify-center items-center gap-2 inline-flex">
    <div class="grow shrink basis-0 text-[#868c98] text-xs font-medium  uppercase leading-none tracking-wide">MAIN</div>
</div>
<SidebarItem/>
