---

import SidebarSection from "./sidebar-section.astro";
import SidebarSupport from "./sidebar-support.astro";
import SidebarHeader from "./sidebar-header.astro";
import SidebarUserDetails from "./sidebar-user-details.astro";

---
<div class="relative w-[100%] h-[100%] bg-[#f6f8fa] rounded-3xl justify-start items-start inline-flex">
    <div class="w-[272px] self-stretch bg-white border-r flex-col justify-start items-start inline-flex">
        <SidebarHeader/>
        <div class="self-stretch grow shrink basis-0 px-5 pt-5 pb-4 flex-col justify-start items-start gap-5 flex">
            <SidebarSection/>
            <SidebarSupport/>
            <SidebarUserDetails/>
        </div>
    </div>

</div>