---
import Sidebar from "./sidebar/sidebar.astro";
import Content from "./content/content.astro";
// import Eservice from "../pages/e-service/e-service.astro";
---
<div class="flex">

  <div class="w-[272px]">
    <Sidebar />
  </div>
  <div >
    <Content>
    <!-- <Eservice /> -->
  </Content>
</div>

</div>